# Puerto de red del servidor NestJS
PORT=3000

# Entorno de ejecución (development | production)
NODE_ENV=production

# Rutas de persistencia física para las bases de datos SQLite independientes
DATABASE_PORTFOLIO_PATH=./portfolio.sqlite
DATABASE_BIBLE_PATH=./bible.sqlite
DATABASE_SOFTWARE_PATH=./software.sqlite

# Orígenes de CORS permitidos en producción (separados por comas)
CORS_ORIGINS=https://jorgedoicela.com,https://portfolio.jorgedoicela.com,https://bible.jorgedoicela.com,https://software.jorgedoicela.com
