# Puerto de red del servidor Next.js
PORT=3001

# URL pública del backend modular NestJS para el consumo de red del cliente
NEXT_PUBLIC_API_URL=https://jorgedoicela.com

# Metadatos de Verificación SEO de Buscadores (Google Search Console & Bing)
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=google_verification_token_here
NEXT_PUBLIC_BING_SITE_VERIFICATION=bing_verification_token_here
